
  <h1>Create new account</h1>
  <%= form_for @user do |f| %>

        <p><%= f.label :username %></p>
        <p><%= f.text_field :username %></p>
        <p><%= f.label :email %></p>
        <p><%= f.email_field :email%></p>
        <p><%= f.label :password %></p>
        <p><%= f.password_field :password %></p>
        <p><%= f.label :password_confirmation %></p>
        <p><%= f.password_field :password_confirmation %></p>
        <p><strong><%= f.submit "Sign up", class: :"btn btn-dark" %></strong></p>

        <p><strong><%= link_to 'Or, Sign in with google', '/auth/google_oauth2'%></strong></p>
    <%end%>
